<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table th:fragment="form">
    <tr>
        <td>Name</td>
        <td><input type="text" name="name" th:value="${user != null ? user.getName(): ''}"></td>
    </tr>
    <tr>
        <td>Surname</td>
        <td><input type="text" name="surname" th:value="${user != null ? user.getSurname() : ''}"></td>
    </tr>
    <tr>
        <td>Age</td>
        <td><input type="number" name="age" th:value="${user != null ? user.getAge() : ''}"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="email" name="email" th:value="${user != null ? user.getEmail() : ''}"></td>
    </tr>
</table>
</body>
</html>